<div id="map"></div>

<div id="postListModal" class="modal bottom-sheet">
	<div class="modal-content">
		<h4>Post Title</h4>
		<ul class="collection">
			
			<span id="insertBefore"></span>
		</ul>


	</div>
		<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	</div>
</div>