<nav class="white" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" href="/" class="brand-logo">Signpost</a>
		<ul class="right hide-on-med-and-down">
			<%=erb :nav_list %>
		</ul>

		<ul id="nav-mobile" class="side-nav">
			<%=erb :nav_list %>
		</ul>
		
		<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	</div>
</nav>